<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <accolade translate="label" module="accolade_bttn">
            <label>Accolade</label>
            <sort_order>100</sort_order>
        </accolade>
    </tabs>
    <sections>
        <accolade translate="label" module="accolade_bttn">
            <label>Bt.tn</label>
            <tab>accolade</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <bttn translate="label" module="accolade_bttn">
                    <label>API Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                    	<merchant_name translate="label">
                            <label>Merchant Name: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </merchant_name>
                        <api_key translate="label">
                            <label>API Key: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_key>
                    </fields>
                </bttn>
            </groups>
        </accolade>
    </sections>
</config>