<?xml version="1.0"?>
<config>
    <modules>
        <Accolade_Button>
            <version>0.1.0</version>
        </Accolade_Button>
    </modules>
    <global>
        <models>
            <accolade_button>
                <class>Accolade_Button_Model</class>
                <resourceModel>accolade_button_resource</resourceModel>
            </accolade_button>
            <accolade_button_resource>
                <class>Accolade_Button_Model_Resource</class>
                <entities>
                    <button>
                        <table>accolade_button_associations</table>
                    </button>
                    <key>
                        <table>accolade_button_keys</table>
                    </key>
                </entities>
            </accolade_button_resource>
        </models>
        <helpers>
            <accolade_button>
                <class>Accolade_Button_Helper</class>
            </accolade_button>
        </helpers>
        <blocks>
            <accolade_button>
                <class>Accolade_Button_Block</class>
            </accolade_button>
        </blocks>
        <events>
            <admin_system_config_changed_section_accolade>
                <observers>
                    <accolade_button>
                        <class>accolade_button/observer</class>
                        <method>checkAllApiKeys</method>
                    </accolade_button>
                </observers>
            </admin_system_config_changed_section_accolade>
        </events>
        <resources>
            <accoladebutton_setup>
                <setup>
                    <module>Accolade_Button</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </accoladebutton_setup>
            <accoladebutton_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </accoladebutton_write>
            <accoladebutton_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </accoladebutton_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <accolade_button>
                <use>standard</use>
                <args>
                    <module>Accolade_Button</module>
                    <frontName>accolade_button</frontName>
                </args>
            </accolade_button>
        </routers>
        <layout>
            <updates>
                <accolade_button module="Accolade_Button">
                    <file>accolade_button.xml</file> <!-- Our layout file name-->
                </accolade_button>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <accolade>
                                            <title>Accolade - All</title>
                                        </accolade>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <accolade_button>
                            <children>
                                <button>
                                    <title>Accolade - All</title>
                                </button>
                            </children>
                        </accolade_button>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <accoladebutton after="Mage_Adminhtml">Accolade_Button_Adminhtml</accoladebutton>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <check_button_api_keys>
                <schedule>
                    <cron_expr>0 0 1 * *</cron_expr>
                </schedule>
                <run>
                    <model>accolade_button/key::checkAllKeys</model>
                </run>
            </check_button_api_keys>
        </jobs>
    </crontab>
</config>
